h1 {
    color:#f44336;
}

img {
    width: 400px;
}

#thirdDiv {
    padding: 50px;

    height: 400px;
    width: 600px;
    background-color: #bae1ff;

    border: solid 3px #8ca6ba;
}

#spanId {
    margin: 50px;
    font-size: 18px;
}